html, body {
	margin:0;
	padding:0;
	height:100%;
    
}

body {
	background-color: black;
	
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

a {text-decoration: none;}

.container {
	background-color: #000;
	height:100%;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}


/* GENERAL STYLING */

p {
	text-align: center;
	display:block;
	color:#888888;
	font-family: 'adelle', serif;
	font-weight:400;
	font-style:normal;
}

.content {height:100%;}
.responsive {height:100%;}


/* RAISING CATTLE */
#cowboy-icon {width:126px;}

#cow-banner {
	background: url('../images/cow.jpg') 50% 0 no-repeat;
	background-size:152%;
}
#great-beef {font-size: 43px;}

/* TESTIMONIALS */
#raising-quality {padding-top:56px;}

#raising-quality-subtitle {
	margin: 0 auto;
	color:white;
	width: 80%;
	font-size: 15px;
	display: block;
}

#testimonial-banner {
	background: url('../images/testimonials1.jpg') 50% 0 no-repeat;
	background-size:180%;
	height:auto;
	padding-bottom:62px;
}

.testimonial {
	border-top: 2px solid #e5e5e5;
	display: block;
	width: 85%;
	max-width: 680px;
	margin: 0 auto;
	margin-top: 37px;
	padding-bottom: 3px;
}

#bottom-testimonial {
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 44px;
	margin-bottom: 38px;
}

#bio-photo {height:176px;margin-bottom: 6px;}
#bio-name {font-size:19px;color:#b06832;width: 94%;}
#bio-grey-text {color:#a1a1a1;width: 94%;}
#bio-dark-text {color:#6e6e6e;width: 94%;}


/* CONTACT */

.contact {padding-top: 60px;height:auto;}

.contact-page {padding-bottom:20px;}

#contact-image {
	background: url('../images/contact1.jpg') 50% 0 no-repeat;
	background-color: black;
	height: auto;
}

.contact-box {
	height:auto;
	width:90%;
	max-width: 650px;
	display: block;
	margin: 0 auto;
	border-radius: 7px;
	box-shadow: 5px 5px 48px black;
	background-color: white;
	padding-bottom: 20px;
}

#contact-intro {
	margin: 0 auto;
	color: white;
	width: 76%;
	font-size: 14px;
	padding: 45px 0 30px;
	display: block;
	font-family: 'adelle', serif;
	font-weight:600;
	font-style:normal;
	text-shadow: 0px 0px 9px black;
}

.contact-box p {font-size:14px;}
#contact-copy {margin:0 5%;padding: 32px 13px;}

.contact-form {
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	width:90%;
	display:block;
	margin:0 auto;
	padding-bottom: 23px;
	margin-bottom: 20px;
}


label {
	font-family: 'adelle', serif;
	font-weight:400;
	font-style:normal;
	color:#b06832;
	font-size:15px;
	display:block;
	margin-top:20px;
}

input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	width: 99%;
	height: 19px;
	border: 2px solid #E5E5E5;
	padding: 10px 0;
	padding-bottom: 13px;
	margin-top: 14px;
	font-size: 14px;
	color: #3a3a3a;
}

input:focus, textarea:focus {
	border:2px solid #DAAC8A;
	outline:0;
}

#submit {
	font-family: 'adelle', serif;
	font-weight:400;
	font-style:normal;
	font-size:16px;
	color:white;
	height:49px;
	width: 90%;
	display: block;
	margin: 0 auto;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#b06832;
    border: 1px solid #b06832;
    padding-bottom:10px;
}

#submit:hover {
	opacity:.9;
	cursor:pointer;
}

#submit:active {
	opacity:1;
	background-color:#A05D2B;
}

.contact-info {
	font-size:15px;
	color:white;
	margin-top: 12px;
}

.verif_img {margin-top:10px;}

/* MOBILE NAV */

header {
	height: 0px;
	position: relative;
	background-color: #f3f5f6;
}

.burger {
	position: absolute;
	float: left;
	padding: 4px 8px 13px 8px;
	top: 10px;
	left: 10px;
	display: none;
}
.burger li {
	width: 25px;
	height: 4px;
	background-color: #B5B5B5;
	margin: 5px 0;
}

.burger.open li {background-color: black;}
.burger.open {background-color:#737373;}


.burger:active {background-color:#737373;}
.burger:active li {background-color: black;}


nav {
	position: relative;
	width: 912px;
	height: 150px;
	margin: 0 auto;
}
nav li {
	float: left;
	margin: 20px 10px 0px 10px;
	display: inline-block;
}
nav li a {
	font-family:"Open Sans", sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	display: block;
}

/* WEB NAV */

#logo-small {margin: 6px;display:none;}
#logo-small img {width:160px;}

.nav-container {
	top: 13px;
	width: 100%;
	height: 0px;
	display: block;
	margin: 0 auto;
	position: fixed;
	transition: .6s;
	-o-transition: .6s;
	-ms-transition: .6s;
	-moz-transition: .6s;
	-webkit-transition: .6s;
}

.nav-active {
	top: -10px;
	height:79px;
	width:100%;
	background-color: black;
	border-bottom: solid 4px #985a28;
	box-shadow: 0px -4px 25px #000;
	position:fixed;
}

/* INTRO */

#header-size {height:470px;}

.header {
	height:100%;
	background: url('../images/intro-image2.jpg') 50% 0 no-repeat fixed;
	background-size: 890px;
}

.header img {display:block;margin:0 auto;}

#logo {
	padding-top: 90px; 
	padding-bottom: 25px;
	width: 280px;
}

#arrow {height:18px;margin-top: 21px;}

.header p {font-family:"Open Sans";font-weight:800;}

#learn-more {
	color:white;
	font-size:16px;
	font-family: 'adelle', serif;
	font-weight:600;
	font-style:normal;
	text-shadow: 3px 3px 21px rgb(0, 0, 0);
}

.bounce {
  position:relative;
  -webkit-animation:bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

#learn-more {transition:.3s;}

#arrow {transition:.3s;}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  50%      { bottom:20px; }
  100%     {bottom:5px;}
}

@-moz-keyframes bounce {
  0%       { bottom:5px; }
  50%      { bottom:20px; }
  100%     {bottom:5px;}
}

@keyframes bounce {
  0%       { bottom:5px; }
  50%      { bottom:20px; }
  100%     {bottom:5px;}
}


/* COPY */

#shadow {box-shadow: 0px 0px 114px black;}

.main-copy {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 20px;
}

.main-copy p {
	font-size: 15px;
	padding-top: 18px;
	width: 86%;
	max-width: 600px;
	margin: 0 auto;
}

.main-copy img {
	display:block;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:20px;
}

#meat-icon {width: 275px;margin-bottom: 9px;}

#stars-icon {width:80px;}


.main-copy .title {font-size:26px;}

#copy-highlight {color:#b06832;font-family: 'adelle', serif; font-weight:700; font-style:normal;}

#title-highlight {color:#b06832;}


/* BANNER */

.banner {
	background: url('../images/cowboy.jpg') 50% 0 no-repeat;
	height:290px;
	background-color: black;
	background-size: 871px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 73px inset;
}

.banner-title {
	padding-top: 80px;
	padding-bottom:35px;
	font-size:35px;
	color:white;
	width:270px;
	margin: 0 auto;
	text-shadow: 0px 0px 62px black;
}

#banner-highlight {color:#d69868;}

.banner-subtitle {
	font-size:18px;
	color:white;
	width: 80%;
	display: block;
	margin: 0 auto;
}

#USDA-icon {height:130px;}

.hide {opacity:0;}



@media only screen and (min-width: 500px) {
	.banner {background-size: 138%;}

	/* TESTIMONIALS */
	#bio-name {width: 86%;}
	#bio-grey-text {width: 86%;}
	#bio-dark-text {width: 86%;}
}

@media only screen and (min-width: 650px) {
	
	#raising-quality {width:auto;padding-top: 74px;}
	#raising-quality-subtitle {max-width: 505px}
	#testimonial-banner {padding-bottom: 70px;}

	/* CONTACT */
	#contact-image {background-size: 100%;}
	#contact-intro {width: 403px;font-size: 15px;}
	.contact-box p {font-size: 15px;}
}


@media only screen and (min-width: 780px) {
	#nav-logo {display: none;}
	#logo-small {display:inline;}
	#logo-small a {border-bottom:none;}


	#header-size {height: 590px;}
	.header {background-size:116%;}

	#logo-space-top {height:5%;}
	#logo-space-bottom {height:2%;}
	#logo {width: 40%; max-width: 335px;}



	nav {
		width: 759px;
		top:5px;
	}

	nav li a {
		font-size:16px; 
		margin:7px 7px;
		padding-bottom:9px;
		border-bottom: 3px solid transparent;

  		-o-transition: border-color .2s ease-in-out;
		-ms-transition: border-color .2s ease-in-out;
		-moz-transition: border-color .2s ease-in-out;
		-webkit-transition: border-color .2s ease-in-out;
		transition: border-color .2s ease-in-out;
	}

	a:hover {border-bottom-color: white;}
	a.current {border-bottom-color: white;}

	#learn-more {font-size:18px;}
	#arrow {height: 26px;}

	.banner {height:330px;}
	.banner-title {font-size:37px; padding-top:108px; width:auto;}
	.banner-subtitle {font-size:21px;}


	/* RAISING CATTLE */
	#great-beef {font-size: 50px;}

	/*TESTIMONIALS */
	#testimonial-banner {background-size:100%;padding-bottom:85px;}
	#raising-quality {padding-top: 118px;}

	#bio-photo {display:inline-block;vertical-align:middle;margin:40px 5% 0}
	#bio-name {margin: initial;margin-top:8px;width:100%;}
	#bio-grey-text {margin: initial;width:100%;}
	#bio-dark-text {margin: initial;width:100%;}
	.horizontal-layout {display:inline-block;vertical-align:middle;width: 61%;max-width: 600px;margin-top:17px;}
	.horizontal-layout p {text-align:left;}

}


@media only screen and (min-width: 1000px) {

	nav {width: 897px;}
	nav li a {font-size: 17px;margin: 7px 18px;}
	#header-size {height:620px}
	#logo {max-width: 393px;}

	#meat-icon {width:346px;}
	.main-copy p {font-size:17px; padding-top:29px; width:88%; max-width:759px;}
	#stars-icon {width:98px;}

	.main-copy img {margin-top: 36px; margin-bottom: 32px;}

	.banner {height:439px; background-size:100%;}

	.banner-title {font-size:45px; padding-top:158px;}
	.banner-subtitle {font-size:25px;}

	.main-copy .title {font-size: 31px;padding-top:43px;}

	#USDA-icon {height: 164px;margin-bottom: 9px;}

	/* RAISING CATTLE */
	#great-beef {font-size: 55px;}
	#cow-banner {background-size:100%;}

	/* TESTIMONIALS */
	#raising-quality-subtitle {max-width: 670px;font-size:17px;text-shadow: 0 0 18px black;}
	#testimonial-banner {padding-bottom: 100px;}
	.testimonial {max-width: 795px;}
	#bio-photo {margin: 40px 7% 0;}
	.horizontal-layout {width: 62%; max-width: 616px;}

}

@media only screen and (min-width: 1200px) {
	.header {background-size:100%;}
	#header-size {height: 690px;}
	#logo-space-top {height:8%;}
}

@media only screen and (min-width: 1500px) {
	#logo-space-top {height:10%;}
	#logo-space-bottom {height:7%;}
	#learn-more {font-size:22px;}

	.contact {height: 100%;min-height:860px;}
	#contact-image {height:100%;}

}




@media only screen and (max-width: 780px) {

/* NAVIGATION */
#nav-background {border-bottom:none;}
#nav-background2 {border-bottom:none;}

#nav-logo {
	display:block;
	margin:0 auto;
	height: 45px;
	padding-top: 8px;
}

header {
	height: 60px;
	z-index: 2;
	background-color: #000;
	border-bottom: solid 4px #985a28;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0px -6px 35px #000;
	
		/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
header h1 {
	color: #ffffff;
	text-align: center;
	padding-left: 0;
	display: block;
}
.burger {
	display: block;
	height: 22px;
	border-radius: 5px;
	border: 1px solid #737373;
}


/*  Nav Drawer Layout  */
nav {position: relative;}

nav ul {
	height: 100%;
	overflow-y: auto;
}
nav li {
	display: block;
	float: none;
}
nav li a {
	font-family: 'adelle', serif;
	font-weight:700;
	font-style:normal;
	padding: 22px 25px;
	letter-spacing: 3px;
	font-size: 14px;
}
nav li a.logo {
	display: none;
}
nav li a.active {
	color: #fff;
	background-color: #141e23;
}
nav li a:hover {
	color: #fff;
	background-color: #19252c;
}
nav li:first-child a.active,
nav li:first-child a:hover 
{border-radius: 10px 0 0 0;}

.header-section {margin-top: 60px;}

/* NAVIGATION ANNIMATION */
nav {
	width: 93%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	background-color: #171717;
	border-radius: 8px;
	
	/* starting point */
	opacity: .3;
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-moz-transform: translate3d(5%,0,0)scale(.97);
	transform: translate3d(5%,0,0)scale(.97);
}

/*Nav Expanding Open Effect*/
nav.open {
	opacity: 1;

	-webkit-transform: translate3d(0,0,0)scale(1);
	-webkit-animation: slideIn .35s ease-in-out;
	
	-moz-transform: translate3d(0,0,0)scale(1);
	-moz-animation: slideIn .35s ease-in-out;
	
	transform: translate3d(0,0,0)scale(1);
	animation: slideIn .35s ease-in-out;
}
@-webkit-keyframes slideIn {
	0%       {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideIn {
	0%      {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideIn {
	0%      {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

/*Nav Shrinking Closed Effect*/
nav.close {
	opacity: .3;
	
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-webkit-animation: slideOut .3s ease-in-out;
	
	-moz-transform: translate3d(5%,0,0)scale(.97);
	-moz-animation: slideOut .3s ease-in-out;
	
	transform: translate3d(5%,0,0)scale(.97);
	animation: slideOut .3s ease-in-out;
}
@-webkit-keyframes slideOut {
	0%      {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
}
@-moz-keyframes slideOut {
	0%      {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
}
@keyframes slideOut {
	0%      {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
}



/* CONTENT ANNIMATION */
.content {
	/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 1;
}

/*Content Sliding Open Effect*/
header.open,
.content.open 
{   
	-webkit-transform: translate3d(240px,0,0);
	-webkit-animation: open .5s ease-in-out;
	
	-moz-transform: translate3d(240px,0,0);
	-moz-animation: open .5s ease-in-out;
	
	transform: translate3d(240px,0,0);
	animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(260px,0,0);}
	100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes open {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(260px,0,0);}
	100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes open {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(260px,0,0);}
	100%  {transform: translate3d(240px,0,0);}
}

/*Content Sliding Closed Effect*/
header.close,
.content.close 
{
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: close .3s ease-in-out;
	
	-moz-transform: translate3d(0,0,0);
	-moz-animation: close .3s ease-in-out;
	
	transform: translate3d(0,0,0);
	animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
	0%      {-webkit-transform: translate3d(240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
	0%       {-moz-transform: translate3d(240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
	0%       {transform: translate3d(240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}

}